<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Заголовок</title>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png"/>
  </head>
  <body>
    <script src="js/jssor.slider-22.2.16.min.js" type="text/javascript"></script>
    <script src="js/jssor.unit.js" type="text/javascript"></script>
    <div class="container"></div>
    <section class="header">
      <div class="top-mnu">
        <div class="grid grid--align-baseline">
          <div class="grid__col-6"></div>
          <div class="grid__col-6">
            <nav>
              <ul>
                <li><a href="javascript: void();">Account</a></li>
                <li><a href="javascript: void();"> Wishlist</a></li>
                <li><a href="javascript: void();">Checkout</a></li>
                <li><a href="javascript: void();"> Log In  </a></li>
                <li><a href="javascript: void();">Sign Up</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="mnu">
      <div class="menu">
        <div class="grid grid--align-baseline">
          <div class="grid__col-6">
            <nav>
              <ul>
                <li class="head"><a href="javascript: void();">Leo Shop</a></li>
                <li><a href="javascript: void();">home</a></li>
                <li><a href="javascript: void();">women</a></li>
                <li><a href="javascript: void();">men</a></li>
                <li><a href="javascript: void();">other</a></li>
                <li><a href="javascript: void();">purchase</a></li>
              </ul>
            </nav>
          </div>
          <div class="grid__col-6">
            <nav class="buy">
              <ul>
                <li> 
                  <input type="text" placeholder="Search..."/>
                </li>
                <li class="copy"><a href="javascript: void();"><img src="build/img/i-1.png"/></a></li>
                <li class="basket"><a href="javascript: void();"><img src="build/img/i-2.png"/></a></li>
                <li class="cart"><a href="javascript: void();">cart (0)</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1500px;height:600px;overflow:hidden;visibility:hidden;">
      <div class="jssorl-oval" data-u="loading" style="position:absolute;top:0px;left:0px;text-align:center;background-color:rgba(0,0,0,0.7);"><img style="margin-top:-19.0px;position:relative;top:50%;width:38px;height:38px;" src="build/img/oval.svg"/></div>
      <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1500px;height:600px;overflow:hidden;">
        <div><img data-u="image" src="build/img/Glasses-3.jpg"/>
          <div style="position:absolute;top:250px;left:200px;width:600px;height:120px;z-index:0;background-color:rgba(255,255,255,0.5);">
            <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#000000;line-height:40px;">aluminum club</div>
            <div style="position:absolute;top:60px;left:15px;width:500px;height:40px;z-index:0;font-size:22px;color:#000000;line-height:38px;">experience ray-ban</div>
          </div>
        </div>
        <div><img data-u="image" src="build/img/Glasses-3.jpg"/>
          <div style="position:absolute;top:250px;left:200px;width:600px;height:120px;z-index:0;background-color:rgba(255,255,255,0.5);">
            <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#000000;line-height:40px;">aluminum club</div>
            <div style="position:absolute;top:60px;left:15px;width:500px;height:40px;z-index:0;font-size:22px;color:#000000;line-height:38px;">experience ray-ban</div>
          </div>
        </div>
      </div><span class="jssora22l" data-u="arrowleft" style="top:0px;left:81px;width:40px;height:58px;" data-autocenter="2"></span><span class="jssora22r" data-u="arrowright" style="top:0px;right:81px;width:40px;height:58px;" data-autocenter="2"></span>
    </section>
    <section>
      <div class="grid">
        <div class="grid__col-8">
          <div class="featured">
            <h2>Featured Products</h2>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-7.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-10.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-11.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="staff">
            <h2>staff pick</h2>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-7.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-8.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-9.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="new">
            <h2>new products</h2>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-6.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-5.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
            <div class="grid__col-3 glass"><img src="build/img/Glasses-4.jpg"/>
              <div class="desc">
                <div class="name">
                  <p>Set tempus teilus</p>
                  <div class="sale">
                    <p>$ 90.00</p>
                  </div>
                  <div class="brakets"><a href="javascript: void();"><img src="build/img/i-3.png"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__col-2">
          <div class="feat-glass">
            <div class="glass-header">
              <h2>Featured Glass</h2>
            </div>
            <div class="glass-carousel">
              <div id="jssor_2" style="position:relative;margin:0 auto;top:0px;left:0px;width:auto !Important; ;height:330px;overflow:hidden;visibility:hidden;">
                <div class="jssorl-oval" data-u="loading" style="position:absolute;top:0px;left:0px;text-align:center;background-color:rgba(0,0,0,0.7);"><img style="margin-top:-19.0px;position:relative;top:50%;width:38px;height:38px;" src="build/img/oval.svg"/></div>
                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1500px;height:1200px;overflow:hidden;">
                  <div><img data-u="image" src="build/img/Glasses-13.jpg"/></div>
                  <div><img data-u="image" src="build/img/Glasses-13.jpg"/></div>
                </div>
              </div>
            </div>
            <div class="sign-up">
              <h2>newsletters  signup</h2>
              <p>Lorem ipsum dolor sit amen, dolor imun ra adlip  ulissys </p>
              <input type="text"/>
              <div class="button">
                <p>Subscribe</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer">
      <div class="grid grid--align-baseline">
        <div class="grid__col-6">
          <div class="br-address">
            <ul>
              <li class="oval"><a href="javascript: void();"><img src="build/img/i-4.png"/></a></li>
              <li><a href="javascript: void();">
                  <p>Free shipping on orders over $100</p></a></li>
            </ul>
          </div>
        </div>
        <div class="grid__col-6">
          <div class="br-address">
            <ul>
              <li class="oval"><a href="javascript: void();"><img src="build/img/i-5.png"/></a></li>
              <li><a href="javascript: void();">
                  <p>call us! toll free- 409-8888-0099 </p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer first">
      <div class="grid grid--align-baseline">
        <div class="grid__col-3">
          <h2>facebook</h2>
        </div>
        <div class="grid__col-3">
          <h2>from twitter</h2>
          <nav class="tw">
            <ul>
              <li> 
                    <div class="br-radius"><i class="fa fa-twitter"></i></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
              </li>
              <li> 
                    <div class="br-radius"><i class="fa fa-twitter"></i></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
              </li>
            </ul>
          </nav>
        </div>
        <div class="grid__col-2">
          <h2>information</h2>
          <nav class="info">
            <ul>
              <li>Sed ultrices purus non.  </li>
              <li>sodales sodales.</li>
              <li>Curabitur pretium dui vitae</li>
              <li>Donec gravida mi in nisl</li>
              <li>faucibus leo condimentum</li>
            </ul>
          </nav>
        </div>
        <div class="grid__col-2">
          <h2>contact us</h2>
          <nav class="contact">
            <ul>
              <li>Leo Store</li>
              <li>Loepards media</li>
              <li>KVM Rpad, 4590GH</li>
              <li>+1 489-8888-0099</li>
              <li>mail@mail.com</li>
            </ul>
          </nav>
          <nav class="social">
            <ul>
              <li><a href="javascript: void();"><img src="build/img/gg-7.png"/></a></li>
              <li><a href="javascript: void();"><img src="build/img/in-8.png"/></a></li>
              <li><a href="javascript: void();"><img src="build/img/br-9.png"/></a></li>
              <li><a href="javascript: void();"><img src="build/img/fb-10.png"/></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer second text-color-footer-bgc">
      <div class="grid grid--align-baseline">
        <div class="grid__col-6">
          <p class="open-sans-regular text-color-footer f16px">&copy: Copyright 2013 Css Author, All Rights Reserved.</p>
        </div>
        <div class="grid__col-6">
          <nav>
            <ul class="ulmnu">
              <li><a href="javascript: void();">About Us</a></li>
              <li><a href="javascript: void();">Delivery & Returns</a></li>
              <li><a href="javascript: void();">Terms & Conditions</a></li>
              <li><a href="javascript: void();">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="hidden"></div>
    <!--if lt IE 8
    script(src='libs/html5shiv/es5-shim.min.js')
    script(src='libs/html5shiv/html5shiv.min.js')
    script(src='libs/html5shiv/html5shiv-printshiv.min.js')
    script(src='libs/respond/respond.min.js')
    -->
    <script>jssor_1_slider_init();</script>
    <script>
      function loadCSS(hf) {
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
      }
      //loadCSS("libs/animate/animate.css"); //Load Libs CSS: Animate CSS
      loadCSS("css/header.min.css");              //Header Styles (compress & paste to header after release)
      loadCSS("css/main.min.css");                //User Styles: Main
      loadCSS("css/media.min.css");               //User Styles: Media
      loadCSS("css/core.min.css");                //User Styles: Core
      loadCSS("css/fonts.min.css");               //User Styles: Fonts
      loadCSS("css/reflex.min.css");              //User Styles: Fonts
      loadCSS("css/font-awesome.min.css");        //
    </script>
  </body>
</html>